{% extends "@EasyAdmin/page/content.html.twig" %}

{% block body_id 'easyadmin-dashboard' %}

{% block content %}
    <div class="dashboard">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre d'étudiants</h5>
                        <div class="card-number">
                            {{ nombreEtudiants }}
                        </div>
                        <div class="card-icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <div class="card-color" style="background-color: #3498db;"></div> <!-- Couleur pour les étudiants -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre de professeurs</h5>
                        <div class="card-number">
                            {{ nombreProfesseurs }}
                        </div>
                        <div class="card-icon">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <div class="card-color" style="background-color: #27ae60;"></div> <!-- Couleur pour les professeurs -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre de modules</h5>
                        <div class="card-number">
                            {{ nombreModules }}
                        </div>
                        <div class="card-icon">
                            <i class="fas fa-book"></i>
                        </div>
                        <div class="card-color" style="background-color: #e74c3c;"></div> <!-- Couleur pour les modules -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre de filières</h5>
                        <div class="card-number">
                            {{ nombreFillieres }}
                        </div>
                        <div class="card-icon">
                            <i class="fas fa-university"></i>
                        </div>
                        <div class="card-color" style="background-color: #f39c12;"></div> <!-- Couleur pour les filières -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre d'examens</h5>
                        <div class="card-number">
                            {{ nombreExamens }}
                        </div>
                        <div class="card-icon">
                            <i class="fas fa-file-alt"></i>
                        </div>
                        <div class="card-color" style="background-color: #9b59b6;"></div> <!-- Couleur pour les examens -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre de notes</h5>
                        <div class="card-number">
                            {{ nombreNotes }}
                        </div>
                        <div class="card-icon">
                            <i class="fas fa-sticky-note"></i>
                        </div>
                        <div class="card-color" style="background-color: #34495e;"></div> <!-- Couleur pour les notes -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
