{% extends 'base.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}
<div class="container">
  <h1 class="text-center">Liste des étudiants</h1>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Nom</th>
        <th class="col-md-2">Prénom</th>
        <th class="col-md-2">Email</th>
        <th class="col-md-2">Contact</th>
        <th class="col-md-2">Photo</th>
        <th class="col-md-2">Filière</th>
      </tr>
    </thead>
    <tbody>
      {% for etudiant in etudiants %}
        <tr>
          <td>{{ etudiant.nom }}</td>
          <td>{{ etudiant.prenom }}</td>
          <td>{{ etudiant.email }}</td>
          <td>{{ etudiant.contact }}</td>
          <td>
            {% if etudiant.photo %}
              <img src="{{ asset('uploads/etudiants/' ~ etudiant.photo) }}" alt="{{ etudiant.nom }}" class="rounded-circle" width="50" height="50">
            {% else %}
              <img src="{{ asset('images/default.png') }}" alt="Image non trouvée ou de type inconnu">
            {% endif %}
          </td>
          <td>{{ etudiant.filliere }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}